<footer>

<div class="container-custom">

<p>
© 2026 ToolNest India | Built with ❤️ by Sagar Agrawal
</p>

<div class="footer-links">

<a href="about.html">About</a>

<a href="contact.html">Contact</a>

<a href="privacy-policy.html">
Privacy Policy
</a>

<a href="terms.html">
Terms
</a>

<a href="disclaimer.html">
Disclaimer
</a>
<p>
Founder:
<a
href="https://www.instagram.com/damn.sagxr?igsh=MXJlc2ZyMm4zdXk1OQ=="
target="_blank"
rel="noopener noreferrer">

Sagar Agrawal

</a>
</p>
<p>
💰 Support ToolNest India:
<a
href=" https://r.navi.com/MqVOkC"
target="_blank"
rel="noopener noreferrer sponsored">

Get up to ₹70 cashback with Navi UPI💸

</a>
</p>

</div>

</div>

</footer>