<nav class="navbar">

<div class="container-custom nav-container">

<h2 class="logo">

<a href="index.html">

<img
src="assets/images/toolnestlogo.png"
alt="ToolNest India Logo"
class="site-logo">

</a>

</h2>

<ul class="nav-links">

<li><a href="index.html">Home</a></li>

<li><a href="blog/index.html">Blog</a></li>

<li><a href="about.html">About</a></li>

<li><a href="contact.html">Contact</a></li>
<li>
<a
href="https://www.instagram.com/damn.sagxr?igsh=MXJlc2ZyMm4zdXk1OQ=="
target="_blank"
rel="noopener noreferrer"
class="instagram-link">

Instagram

</a>
</li>

</ul>

</div>

</nav>